.calculator {
    width: 310px;
    height: 380px;
    background-color: rgb(42, 42, 42);
    color: white;
    border: solid;
    border-radius: 13px;
}

.result {
    text-align: right;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
}

.dec {
    width: 149px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: rgb(42, 42, 42);
    margin-bottom: 2px;
    margin-left: 3px;
    color: rgb(42, 42, 42);
}

.op {
    width: 70px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: rgb(66, 66, 66);
    color: white;
    margin-bottom: 2px;
    margin-left: 3px;
    transition: background-color 0.07s,
        opacity 0.1s;
}

.op:hover {
    background-color: rgb(78, 78, 78);
}

.op:active {
    opacity: 0.8;
}

.num {
    width: 70px;
    height: 50px;
    border-radius: 6px;
    border: none;
    margin-bottom: 2px;
    margin-left: 3px;
    background-color: rgb(66, 66, 66);
    color: white;
}

.num:hover {
    background-color: rgb(78, 78, 78);
}

.num:active {
    opacity: 0.4;
}

.enter {
    width: 70px;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 2px;
    margin-left: 3px;
    border: none;
    background-color: plum;
    color: purple;
    cursor: pointer;
}